# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\lastr.DESKTOP-9IJ5894\OneDrive - Universidad Pontificia Comillas\Documentos\GitHub\myPage\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
